<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>Values</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quia, pariatur accusantium beatae incidunt rem dolores amet nisi officiis, nihil voluptate! Quod est tempora enim.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>Goals</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quia, pariatur accusantium beatae incidunt rem dolores amet nisi officiis, nihil voluptate! Quod est tempora enim.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>Hobbies</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quia, pariatur accusantium beatae incidunt rem dolores amet nisi officiis, nihil voluptate! Quod est tempora enim.</p>
			</div>
		</div>
	</div>
</section>
<div class="row  section-gray">
	<div class="col-lg-5">
		<img src="img/me.jpg" alt="me" class="img-responsive">
	</div>
	<div class="col-lg-7">
		<section class="section section-sm">
			<div class="row">
				<div class="col-md-12">
					<h3>About Me</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatibus, harum debitis at, deleniti, eaque laudantium ea officia eligendi consequatur ipsum animi non expedita quae.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod harum commodi sit dolorem vel laborum, deserunt ducimus!</p>
				</div>
				<div class="col-md-6">

					<div class="entry">
						<div class="entry-media">
							<img src="img/web.svg" alt="">
						</div>
						<div class="entry-content">
							<h4>Web design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, cupiditate.</p>
						</div>
					</div>

					<div class="entry">
						<div class="entry-media">
							<img src="img/online-c.svg" alt="">
						</div>
						<div class="entry-content">
							<h4>Online marketing</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ex.</p>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="entry">
						<div class="entry-media">
							<img src="img/graphic-c.svg" alt="">
						</div>
						<div class="entry-content">
							<h4>Graphic design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quasi.</p>
						</div>
					</div>
					
					<div class="entry">
						<div class="entry-media">
							<img src="img/seo.svg" alt="">
						</div>
						<div class="entry-content">
							<h4>Seo</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, harum!</p>
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</div>
</div>

