<div class="holder holder-boxed">
	<div class="one-half">
		<article class="post">
			<h2 class="post-title"><span>About whitesquare</span></h2>
			<div class="post-media">
				<img class="responsive" src="http://placehold.it/300x300" alt="">
			</div>	
			<div class="post-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ab magnam maiores. Reprehenderit amet recusandae placeat aliquid debitis repellendus aperiam esse! Sapiente qui.</p>
			<a href="#" class="more">Read more</a>
			</div>			
		</article>
	</div>
	<div class="one-half">
		<article class="post">
			<h2 class="post-title"><span>a word from OUR ceo</span></h2>
			<div class="holder">
					<div class="post-media">
						<img class="responsive" src="http://placehold.it/300x300" alt="">
					</div>	
				<div class="post-text">
					<p><q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ab magnam maiores. Reprehenderit amet recusandae placeat aliquid debitis repellendus aperiam esse! Sapiente qui.</q></p>
					<p><cite>Yane Naumoski, CEO</cite></p>
				</div>
			</div>
		</article>
	</div>
</div>

<div class="holder holder-boxed">
	<div class="one-third">
		<article class="post">
			<h2 class="post-title"><span>Services</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ab magnam maiores. Reprehenderit amet recusandae placeat aliquid debitis repellendus aperiam esse! Sapiente qui.</p>
			<a href="#" class="more">Read more</a>
		</article>
	</div>
	<div class="one-third">
		<article class="post post-preview">
			<h2 class="post-title"><span>Our team</span></h2>
			<div class="holder">
				<div class="post-media">
					<img class="responsive" src="http://placehold.it/50x50" alt="">
				</div>	
				<div class="post-text">
					<a href="#" class="post-link">Looking something else?</a>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. </p>
				</div>
			</div>
			<div class="holder">
				<div class="post-media">
					<img class="responsive" src="http://placehold.it/50x50" alt="">
				</div>	
				<div class="post-text">
					<a href="#" class="post-link">Looking something else?</a>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
				</div>
			</div>
			<div class="holder">
				<div class="post-media">
					<img class="responsive" src="http://placehold.it/50x50" alt="">
				</div>	
				<div class="post-text">
					<a href="#" class="post-link">Looking something else?</a>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
				</div>
			</div>						
		</article>
	</div>
	<div class="one-third">
		<article class="post">
			<h2 class="post-title"><span>27/7/365 support</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ab magnam maiores.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ratione, vitae! Sint fugiat, error enim aperiam quaerat consequatur corporis accusamus.</p>
			<a href="#" class="more">Read more</a>
		</article>
	</div>
</div>
<div class="holder holder-boxed">
	<article class="post">
		<h2 class="post-title"><span>About whitesquare</span></h2>
		<!-- <div class="post-images">
			<span><img src="img/s1.png" alt=""></span>
			<span><img src="img/s2.png" alt=""></span>
			<span><img src="img/s3.png" alt=""></span>
			<span><img src="img/s4.png" alt=""></span>
			<span><img src="img/s5.png" alt=""></span>
			<span><img src="img/s6.png" alt=""></span>
			<span><img src="img/s7.png" alt=""></span>						
		</div> -->
		<table>
			<tr>
				<td><img src="img/s1.png" alt=""></td>
				<td><img src="img/s2.png" alt=""></td>
				<td><img src="img/s3.png" alt=""></td>
				<td><img src="img/s4.png" alt=""></td>
				<td><img src="img/s5.png" alt=""></td>
				<td><img src="img/s6.png" alt=""></td>
				<td><img src="img/s7.png" alt=""></td>
			</tr>
		</table>
	</article>
</div>