<footer class="page-footer">
	<div class="wrap">
		<div class="holder">
			<div class="one-third">
				<div class="widget">
					<h3 class="footer-title">Tweeter feed</h3>
					<a href="#" class="date">23 oct.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi similique odio, veniam perspiciatis sint molestiae suscipit quidem excepturi quae nobis!</p>
				</div>				
			</div>
			<div class="one-third">
				<div class="holder">
					<div class="one-half">
						<div class="widget">
							<h3 class="footer-title">Sitemap</h3>
							<ul class="list">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Partners</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>						
					</div>
					<div class="one-half">
						<div class="widget">
							<h3 class="footer-title">Social networks</h3>
						<ul class="menu social">
							<li><a href="#"><i class="twitter icon"></i></a></li>
							<li><a href="#"><i class="icon fb"></i></a></li>
							<li><a href="#"><i class="icon google"></i></a></li>
						</ul>
						<ul class="menu social">
							<li><a href="#"><i class="icon-sm"></i></a></li>
							<li><a href="#"><i class="icon-sm"></i></a></li>
							<li><a href="#"><i class="icon-sm"></i></a></li>
							<li><a href="#"><i class="icon-sm"></i></a></li>
							<li><a href="#"><i class="icon-sm"></i></a></li>
						</ul>
						</div>						
					</div>
				</div>
			</div>
			<div class="one-third">

			</div>
		</div>
	</div>	
</footer>