<header class="page-header">
	<div class="top-line">
		<a href="#" class="logo"><img src="../img/logo.png" alt="Logo"></a>
		<form action="" class="form form-top form-right">
			<input type="text" value="" placeholder="Search">
			<button type="submit" class="button">Go</button>
		</form>
	</div>
	<nav class="nav">
		<ul class="menu">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Partners</a></li>
			<li><a href="#">Customers</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>
