<nav class="nav nav-dark" id="main-menu">  
	<div class="container">    
		<div class="nav-header">
			<a href="#" class="nav-brand">
				<img src="img/logo.png" alt="logo">
			</a>
			<button class="menu-toggle" id="toggle">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-wrap clearfix">
			<ul class="navbar navbar-right" id="menu">
				<li class="active"><a href="#" class="navbar-link">Home</a></li>
				<li><a href="#" class="navbar-link">About me</a></li>
				<li><a href="#" class="navbar-link">Skills</a></li>
				<li><a href="#" class="navbar-link">Resume</a></li>
				<li><a href="#" class="navbar-link">Testimonials</a></li>
				<li><a href="#" class="navbar-link">Portfolio</a></li>
				<li><a href="#" class="navbar-link">Contact me</a></li>
			</ul>
		</div>
	</div>
</nav>
