<div class="slider">	
	<div id="owl-slider" class="owl-carousel">
	<div class="slide">
		<img src="img/slide1.jpg" alt="Alt">
			<div class="slide-content">
				<h2 class="slide-heading"><span>Web &amp; Graphic Designer</span></h2>
			<a href="#" class="slide-link">Learn more</a>
			</div>
		</div>
		<div class="slide">
			<img src="/img/slide2.jpg" alt="skills.html">
			<div class="slide-content">
				<h2 class="slide-heading"><span>Easy management</span></h2> 
				<a href="#" class="slide-link">Read more</a>
			</div>
		</div>
		<div class="slide">
			<img src="/img/slide3.jpg" alt="">
			<div class="slide-content">
				<h2 class="slide-heading"><span>Revolution</span></h2>
				<a href="#" class="slide-link">Read more</a>
			</div>
		</div>		
	</div>
</div>